.UserIndexBox{
    width: 100%;
    
    .NavBanner{
        width: 100%;
        
        height: 73px;
        background: #fff;
        box-shadow: #F67935 0 -1px 0 inset;
        .BannerDetial{
            width: 100%;
            height: 100%;
            max-width: 1366px;
            .GroupBox{
                width: 50%;
                height: 100%;

                .NavGroup{
                    height: 100%;
                    margin-left: 83px;
                    .NavButton{
                        height: 100%;
                        font-size:21px;
                        margin-right: 90px;
                        color: #F67935;
                        font-weight:bold;
                        cursor: pointer;
                        box-shadow: #F67935 0 0px 0 inset;
                        color: #000;
                        transition: box-shadow 0.2s;
                    }
                    .ActNavButton{
                        color: #F67935;
                        box-shadow: #F67935 0 -5px 0 inset;
                    }
                }

                .HandleButtonGroup{
                    height: 100%;
                    margin-right: 83px;
                    .Button{
                        width: 130px;
                        height: 47px;
                        background: #F67935;
                        border-radius:10px;
                        color: #fff;
                        margin-left: 24px;
                        font-size: 18px;
                        cursor: pointer;
                    }
                }
            }
        }
        
    }
    .DetialBox{
        width: 100%;
        // overflow-x: hidden;
        position: relative;
        .ADBox{
            width: 127px;
            height: 79px;
            background: #fff;
            background-image: linear-gradient(90deg,rgba(255,128,0,0.2) 0%,rgba(255,146,30,1) 54.63%,rgba(234,94,0,1) 100%);
            position: fixed;
            bottom: 30px;
            // transition: left 0.1s linear;
            .CloseButton{
                position: absolute;
                top: 0px;
                right: 0px;
                transform: translateX(50%) translateY(-50%);
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #fff;
                background-image: linear-gradient(118.6deg ,rgba(255,128,0,0.2) 0%,rgba(255,146,30,1) 54.63%,rgba(234,94,0,1) 100%);
                cursor: pointer;
                &::after{
                    width: 2px;
                    height: 15px;
                    background: #fff;
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%) rotate(45deg); 
                    cursor: pointer;
                }
                &::before{
                    width: 2px;
                    height: 15px;
                    background: #fff;
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%) rotate(-45deg); 
                }
            }
            .ContentBox{
                width: 100%;
                height: 100%;
                overflow: hidden;
                .ADimage{
                    display: none;
                    width: 100%;
                    margin-top: 15px;
                }
                .DownloadBox{
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                &:hover{
                    .ADimage{
                        display: none;
                    }
                    .DownloadBox{
                        display: block;
                        cursor: pointer;
                    }
                }
            }
            
            
            
        }
        
    }
}