.Button {
    width: 151px;
    height: 151px;
    margin: calc(52px / 2);
    background: #f67935;
    border-radius: 50%;
    box-shadow: 0px 3px 20px rgba(246, 121, 53, 0.24);
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    pointer-events: all;
    overflow: hidden;
    animation: scaleIn 0.3s;
}
@keyframes scaleIn{
    0%{
        transform: translateX(-200%) scale(0);
    }
    100%{
        transform: translateX(0%) scale(1);
    }
}